.mentorDetailsContainer {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 5%;
    align-self: center;
}

.chatButton {
    justify-self: center;
    width: 50px;
    height: 3rem;
}